In [1]:
table = {}
loop = 0
sl = 0
while True:
    loop += 1
    print(" ________________ ")
    print("|      MENU      |")
    print("| 1_Insert Data  |")
    print("| 2_Remove       |")
    print("| 3_Update       |")
    print("| 4_Display      |")
    print("| 5_Exit         |")
    print("|________________|")
    print("                  ")
    option = input()
    if option == '1':
        ist = input()
        if ist.find(';') != -1:
            ist = ist.split(';')
            TYPE = ist[0].split(' ', 1)
            rest = TYPE[1]
            TYPE = TYPE[0]
            rest = rest.replace(" ", "")
            c = rest.count(',')
            c = c + 1
            for i in range(c):
                if rest.find(',') != -1:
                    x = rest.split(',', 1)
                    rest = x[1]
                    x = x[0]
                    if x.find('=') != -1:
                        name = x.split('=')
                        value = name[1]
                        name = name[0]
                    else:
                        name = x
                        value = "NULL"
                else:
                    x = rest
                    if x.find('=') != -1:
                        name = x.split('=')
                        value = name[1]
                        name = name[0]
                    else:
                        name = x
                        value = "NULL"
                if i < c:
                    sl = sl + 1
                table[name] = [sl, TYPE, value]
    if (option == '2') and (loop > 1):
        r = input("Enter the Key: ")
        if r in table.keys():
            table.pop(r)
        else:
            print("Invalid Key")
    if (option == '3' and (loop > 1)):
        r = input("Enter the Key: ")
        if r in table.keys():
            print(" ____________ ")
            print("|   UPDATE   |")
            print("| 1_TYPE     |")
            print("| 2_VALUE    |")
            print("|____________|")
            print("              ")
            up = input()
            y = table.get(r)
            if up == '1':
                t = input("Enter the new TYPE: ")   
                # table[r] = [y[0], t, y[2]]
                table.update({r:[y[0], t, y[2]]})
            if up == '2':
                v = input("Enter the new VALUE: ")
                # table[r] = [y[0], y[1], v]
                table.update({r:[y[0], y[1], v]})
        else:
            print("Invalid Key")
        
    if (option == '4') and (loop > 1):
        print("              ", "SL", "              ", "NAME", "              ", "TYPE", "              ", "VALUE")
        for x in table:
            y = table.get(x)
            print("              ", y[0], "              ", x,"              ", y[1], "              ", y[2])
    if option == '5':
        break

 ________________
|      MENU      |
| 1_Insert Data  |
| 2_Remove       |
| 3_Update       |
| 4_Display      |
| 5_Exit         |
|________________|

5